<h2>Привет, {{user}}</h2>
<p>Ваш email {{email}} добавлен в список информационных рассылок.</p>

{{!--
Шаблоны следует размещать в дирректории assets, так как при сборке её содержимое копируется. Директория генерируются автоматически
при создании нового проекта в `nx`.
 --}}
